# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_style=space
indent_size=4
end_of_line=lf
charset=utf-8
max_line_length=128

[*.py]
max_line_length=128

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Indentation override for all JS under lib directory
# [lib/**.js]
# indent_style = space
# indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

[*.{js,sh,proto,yml,yaml,json,lua,ts,tsx,md,jsx,nix}]
indent_style = space
indent_size = 2

[*.go]
indent_style = tab
indent_size = 2
